body {
    background-color: #1F2937;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.header ul li a:link,
.header ul li a:visited,
.header ul li a:hover,
.header ul li a:active {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.information {
    background-color: #F9FAF8;
    margin: 0;
}

.information h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    margin: 0;
}

.quote p {
    margin: 0;
}

.footer {
    color: #F9FAF8;
    text-align: center;
}